[General]
    # directories (as from scripts folder)
    scenes_dir = /home/rudorfem/datasets/YCB-scene-generation/matlab-scenes/example-scene/
    models_dir = /home/rudorfem/datasets/YCB-scene-generation/ycbObjectsGoogleScanner/
    bg_models_dir = /home/rudorfem/datasets/YCB-scene-generation/backgroundMeshes/

    # important files
    object_lib_fn = /home/rudorfem/datasets/YCB-scene-generation/renderData.mat
    table_fn = table.ply
    # might as well use tableb.ply - has more triangles
    table_scale_factor = 0.01

    # object mesh resolution
    mesh_fn_ext = MediumResolution.ply
    # mesh_fn_ext = HighResolution.ply

